[user]
    email = ronost81@gmail.com
    name = ronny
[core]
    editor = vim
[alias]
    glog = log --oneline --graph
    flog = log -p
    stat = status -s
    ci = commit -v -a
    redo = commit --amend
[commit]
    template = ~/.gitmessage
